h1 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#calendar .colHeading {
    width: 6em;
    text-align: center;
}

#calendar td {
    padding: 0;
}

.highlighted {
    background-color: #A4DC92;
}

td.busy {
    background-color: #D86464;
}

.busy {
    color: #D86464;
}

.startTime {
    background-color: #6993E2;
}

.endTime {
    background-color: #6993E2;
}

.table {
    margin-bottom: 0;
}

.usernameRow {
    padding: 1em 0;
}

.task-row { }

.panel-body {
    min-height: 18em;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
    max-width: 7em;
}

.headingRow {
    background-color: cornflowerblue;
    color: white;
}

.headingRow p em {
    color: #C7D2FF;
}

.headingRow h2 {
    color: #446092;
}

.headingRow strong {
    color: #446092;
}

.title {
    padding: 1em;
    font-size: 4em;
}

.navbar-form input {
    min-width: 16em;
}

.navbar {
    border-radius: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.navbar-default {
    background-color: #34538A;
}

.big-text {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    display: block;
    line-height: 1.0em;
}

.schedule-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

.custom-panel {
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 10px;
}

.next-button {
    padding: 0.4em 2em;
}
